:root {
    --background-color-desktop: #F6F6F6;
    --background-color-mobile: #F1F1F1;
    --white: #FFF;

    --black: #111;
    --green: #30AB4C;
    --burgundy: #AD4844;
    --silver: #D9D9D9;
}

body,
html {
    overflow-x: hidden;
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", serif;
    /*free font used instead of futura pt*/
    color: var(--black);
    background-color: var(--background-color-desktop);
}

section {
    text-align: center;
    padding: 100px 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 85%;
    margin: 0 auto;
}

.mobile-only {
    display: none;
}

.btn {
    width: fit-content;
    padding: 10px 40px;
    font-family: "Poppins", serif;
    font-weight: 700;
    color: var(--background-color-desktop);
    border: none;
    cursor: pointer;
}

.bold {
    font-weight: 700;
}

.burgundy-text {
    color: var(--burgundy);
}

.green {
    background-color: var(--green);
}

.burgundy {
    background-color: var(--burgundy);
}

.background-color-white {
    background-color: var(--white);
    z-index: 1;
}

/*underline-animation*/
.underline-animation {
    display: inline-block;
    position: relative;
}

.underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    transform-origin: bottom center;
    height: 1px;
    bottom: -5px;
    left: 0;
    background-color: var(--black);
    transition: transform 0.25s ease-out;
}

.underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
}

/*navbar*/
.main-nav {
    padding: 33px 0;
    background-color: var(--white);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    position: fixed;
    z-index: 3;
    transition: all 0.3s;
    transition-property: padding, background-color;
    user-select: none;
}

.menu-overlay.active {
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.75)
}

.nav-content {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    padding: 0;
    margin: 0;
    font-weight: 450;
    font-size: 2rem;
    text-transform: uppercase;
    transition: 0.3s;
}

.menu-bar {
    visibility: hidden;
}

.menu {
    list-style: none;
    display: flex;
    padding: 0;
    margin-left: 25%;
    gap: 32px;
}

.menu-item a {
    text-transform: uppercase;
    font-size: 1rem;

}

.menu-item a.active {
    text-decoration: underline;
    text-underline-offset: 11px;
}

.menu-mobile {
    display: none;
    list-style: none;
}

/*main header*/
.main-header {
    position: relative;
    padding: 180px 0 100px;
}

.header-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.product-image {
    max-width: 50%;
    height: auto;
}

.product-info {
    margin-top: 180px;
}

.product-name {
    font-size: clamp(2.5rem, 6vw, 7rem);
    text-transform: uppercase;
    font-weight: 450;
    margin-bottom: 33px;
}

.product-description-1 {
    font-size: clamp(1.5rem, 2.5vw, 5rem);
    font-weight: 450;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(90.01deg, #111111 -8.85%, #B1B1B1 116.12%);
    background-clip: text;
    -webkit-background-clip: text;
    margin-bottom: 20px;
}

.product-description-2 {
    font-size: clamp(1rem, 1.25vw, 2rem);
    margin-bottom: 20px;
}

.ornament {
    position: absolute;
    z-index: -1;
}

.ornament-1 {
    right: -2%;
    top: 80%;
    transform: rotate(20deg);
    width: 150px;
    max-width: 15%;
}

.ornament-2 {
    left: -9%;
    top: 87%;
    transform: rotate(120deg);
    width: 320px;
    max-width: 30%;
}

/*sections*/
.sub-header,
.section-header {
    position: relative;
}

.section-name {
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(90.01deg, #111111 -8.85%, #B1B1B1 116.12%);
    background-clip: text;
    -webkit-background-clip: text;
    font-size: clamp(1.5rem, 2.5vw, 5rem);
}

.section-name,
.feature-name,
.header-composition-txt,
.ingredient-name {
    font-weight: 450;
}

.section-header,
.feature-name {
    padding: 0;
    margin-bottom: 20px;
}

.underline {
    width: 126px;
    height: 2px;
    background-color: var(--black);
    position: absolute;
    right: calc(50% - 63px);
}

.digit {
    display: inline-block;
    width: clamp(1.5rem, 2.5vw, 5rem);
    height: clamp(1.5rem, 2.5vw, 5rem);
    background-color: var(--white);
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    line-height: clamp(1.5rem, 2.5vw, 5rem);
    text-align: center;
    margin-right: 20px;
}


/*product features section*/

#product-features-section {
    position: relative;
}

.ornament-3 {
    right: -10%;
    top: 5%;
    width: 320px;
    max-width: 30%;
}

#product-features-section .section-header {
    margin-bottom: 135px;
}

.product-features {
    display: flex;
    justify-content: space-between;
}

.product-feature {
    width: 28%;
    display: flex;
    flex-direction: column;
}

#product-features-section .sub-header {
    margin-bottom: 50px;
}

.feature-name,
.header-composition-txt,
.ingredient-name {
    font-size: clamp(1.2rem, 1.5vw, 2.5rem);
}

.text-content {
    flex: 1 0 auto;
    margin-bottom: 50px;
}

.feature-description,
.subpoint,
.ingredient-quantity,
.ingredient-description {
    font-size: clamp(0.8rem, 1.2vw, 2rem);
}

.align-start {
    text-align: left;
}

.feature-image-wrapper {
    position: relative;
}

.feature-image-wrapper.hover-underline-animation::after {
    bottom: -15px;
}

.feature-image-ornament-left,
.feature-image-ornament-right {
    width: 80px;
    max-width: 20%;
}

.feature-image-ornament-left {
    top: 50%;
    left: -15%;
}

.feature-image-ornament-right {
    top: 5%;
    right: -10%;
    transform: rotate(30deg);
}

.feature-image {
    width: 100%;
}

.feature-images-wrapper {
    display: flex;
    justify-content: space-between;
}

.feature-image-2 {
    display: inline-block;
    width: 48%;
    height: 97%;
}

/*product-composition-section*/

.parralax-container {
    background-attachment: fixed;
    background-image: url('../assets/ornament-2.png');
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
}

#product-composition-section {
    padding-bottom: 0;
}

#product-composition-section .section-header {
    margin-bottom: 120px;
}

.header-composition-wrapper {
    position: relative;
    margin-bottom: 70px;
}

.header-composition-txt {
    margin-bottom: 20px;
}

.ingredients-wrappers {
    display: flex;
    justify-content: space-between;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row-1 {
    width: 22%;
}

.row-2 {
    width: 55%;
}

.ingredient {
    height: 30%;
    padding-bottom: 40px;
}

.circle {
    display: inline-block;
    width: clamp(3rem, 2.5vw, 5rem);
    height: clamp(3rem, 2.5vw, 5rem);
    background-color: var(--silver);
    border-radius: 50%;
}

.ingredient-icon {
    display: none;
}

.composition-product-image {
    width: 90%;
    max-width: 1200px;
}

.dog-img {
    width: 70%;
    margin-bottom: -7px;
}

.mobile-bottle,
.mobile-dog {
    display: none;
}

/*products section*/
.select-amount {
    margin: 0 auto 100px;
    border: 2px solid var(--burgundy);
    width: fit-content;
    height: fit-content;
}

.select-label {
    font-weight: 450;
    padding: 10px;

}

#amount-of-products {
    border: none;
    background-color: var(--burgundy);
    font-size: 1rem;
    font-weight: 700;
    color: var(--white);
    padding: 10px;
    cursor: pointer;
}

.products-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.product {
    width: 250px;
    height: 250px;
    background-color: var(--silver);
}


@media (max-width: 996px) {
    body {
        background-color: var(--background-color-mobile);
    }

    .container {
        width: 75%;
    }

    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: block;
    }

    /*navbar*/
    .main-nav {
        padding: 15px 0;
        background-color: inherit;
        box-shadow: none;
        background-color: inherit;
    }

    .nav-content {
        justify-content: space-between;
        width: 95%;
    }

    .logo {
        font-size: 1.8rem;
    }

    .menu-bar {
        visibility: visible;
        color: var(--burgundy);
        font-size: 1.8rem;
        cursor: pointer;
        z-index: 3;
    }

    .menu {
        display: none;
    }

    .menu-mobile.collapse {
        position: absolute;
        top: 60px;
        display: block;
        width: 95%;
        margin: 0 auto;
        padding: 20px 0;
        background-color: var(--burgundy);
        color: var(--silver);
        text-align: center;
        z-index: 3;
    }

    .menu-item {
        padding-bottom: 13px;
    }

    .menu-item:hover,
    .menu-item a.active {
        color: var(--white);
        text-decoration: underline;
        text-underline-offset: 8px;
        text-decoration-thickness: 2px;
    }

    /*main header*/

    .header-content {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .product-image {
        max-width: 100%;
    }

    .product-info {
        margin-top: 0;
        text-align: center;
    }

    .product-name {
        display: none;
    }

    .product-description-1 {
        font-size: 1.5rem;
    }

    .product-description-2 {
        font-size: 1.1rem;
    }

    .product-info .btn {
        display: none;
    }

    .ornament-1 {
        display: none;
    }

    .ornament-2 {
        width: 25%;
        top: 80%;
    }

    /*sections*/
    .section-name,
    .feature-name,
    .ingredient-name {
        font-size: 1.5rem;
    }

    .feature-description,
    .subpoint,
    .header-composition-txt,
    .ingredient-quantity,
    .ingredient-description {
        font-size: 1.1rem;
    }

    .sub-header-ornament-left,
    .sub-header-ornament-right,
    .section-header-ornament-left,
    .section-header-ornament-right {
        width: 150px;
        max-width: 20%;
    }

    .sub-header-ornament-left {
        left: -25%;
        bottom: 20%;
        transform: rotate(110deg);
    }

    .sub-header-ornament-right {
        top: 30%;
        right: -22%;
    }

    .section-header-ornament-left {
        left: -25%;
        bottom: 0;
        transform: rotate(110deg);
    }

    .section-header-ornament-right {
        top: 25%;
        right: -22%;
    }

    .z-index-zero {
        z-index: 0;
    }

    .underline {
        width: 140px;
    }

    .digit {
        width: 2.5rem;
        height: 2.5rem;
        line-height: 2.5rem;
        font-size: 1.25rem;
        font-weight: 700;
    }


    /*product features section*/
    .ornament-3 {
        width: 25%;
        right: -20%;
        top: 3%;
    }

    .product-features {
        flex-direction: column;
        gap: 100px;
    }

    .product-feature {
        width: 100%;
    }

    .align-start {
        text-align: center;
    }

    .feature-image {
        width: 100%;
    }

    .feature-images-wrapper {
        justify-content: center;
        gap: 20px;
    }

    .feature-image-2 {
        width: 50%;
    }

    /*products-functions-section*/
    #product-functions-section {
        margin-bottom: 17px;
    }

    #product-functions-section .section-header {
        margin-bottom: 70px;
    }

    .product-functions {
        text-align: left;
        max-width: 450px;
        margin: 0 auto;
    }

    .product-functions .digit {
        margin-right: 40px;
    }

    .product-function {
        margin-bottom: 30px;
    }

    /*product-composition-section*/

    .parralax-container {
        background-image: none;
    }

    .ingredients-wrappers {
        flex-direction: column;
    }

    .row-1 {
        width: 100%;
    }

    .row-2 {
        display: none;
    }

    .circle {
        display: none;
    }

    .ingredient-icon {
        display: inline-block;
    }

    .dog-img {
        display: none;
    }

    .mobile-bottle,
    .mobile-dog {
        display: block;
        background-image: url('../assets/ornament-2.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80%;
    }

    .mobile-dog {
        padding-top: 100px;
    }

    .bottle-img {
        width: 300px;
        height: 600px;
    }

    .dog-img-2 {
        display: inline-block;
        width: 450px;
        height: 250px;
        margin-bottom: -7px;
    }


}

@media (max-width: 576px) {

    .container {
        width: 90%;
    }

    /*navbar*/
    .logo,
    .menu-bar {
        font-size: 1.5rem;
    }

    .menu-mobile.collapse {
        top: 55px;
    }

    .menu-item a {
        font-size: 0.8rem;
    }

    /*main header*/

    .product-description-1 {
        font-size: 1.25rem;
    }

    .product-description-2 {
        font-size: 0.8rem;
    }

    /*sections*/
    .section-name,
    .feature-name,
    .ingredient-name {
        font-size: 1.25rem;
    }

    .feature-description,
    .subpoint,
    .header-composition-txt,
    .ingredient-quantity,
    .ingredient-description {
        font-size: 0.8rem;
    }

    .sub-header-ornament-left {
        left: -15%;
    }

    .sub-header-ornament-right {
        right: -12%;
    }

    .section-header-ornament-left {
        left: -15%;
    }

    .section-header-ornament-right {
        right: -12%;
    }

    /*product features section*/
    .ornament-3 {
        right: -8%;
        top: 2%;
    }

    /*products-functions-section*/
    .product-functions {
        width: 100%;
    }

    /*product-composition-section*/
    .bottle-img {
        width: 200px;
        height: 400px;
    }

    .dog-img-2 {
        width: 350px;
        height: 200px;
    }

    .mobile-dog {
        padding-top: 50px;
    }

}